version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    env_file: .env
    depends_on:
      - postgres
      - redis
    networks:
      - appnet
    volumes:
      - ./var/uploads:/var/lib/primeflow/uploads
      - ./var/whatsapp-sessions:/var/lib/primeflow/whatsapp-sessions

  worker:
    build:
      context: .
      dockerfile: apps/worker/Dockerfile
    env_file: .env
    depends_on:
      - redis
    networks:
      - appnet
    volumes:
      - ./var/whatsapp-sessions:/var/lib/primeflow/whatsapp-sessions

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    env_file: .env.web
    depends_on:
      - api
    networks:
      - appnet

  redis:
    image: redis:7-alpine
    networks:
      - appnet

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: primeflow
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet

  migrator:
    image: postgres:15-alpine
    depends_on:
      - postgres
    environment:
      PGPASSWORD: postgres
    volumes:
      - ./prisma/migrations:/migrations:ro
    entrypoint: ["/bin/sh","-c"]
    command:
      - >-
        until pg_isready -h postgres -p 5432 -U postgres; do echo 'Aguardando Postgres...'; sleep 2; done;
        for f in /migrations/*.sql; do echo "Aplicando $$f"; psql -h postgres -U postgres -d primeflow -f "$$f"; done; echo 'Migrations aplicadas.';
    networks:
      - appnet

  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - certbot-www:/var/www/certbot:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - api
      - web
    networks:
      - appnet

  certbot:
    image: certbot/certbot:latest
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - certbot-www:/var/www/certbot
    entrypoint: ["/bin/sh","-c"]
    command: >-
      trap exit TERM; \
      while :; do \
        certbot certonly --webroot -w /var/www/certbot -d primezap.primezapia.com -d api.primezapia.com \
          --email admin@primezapia.com --agree-tos --non-interactive --rsa-key-size 4096 || true; \
        sleep 12h & wait $${!}; \
        certbot renew --webroot -w /var/www/certbot --quiet || true; \
        sleep 12h & wait $${!}; \
      done
    depends_on:
      - nginx
    networks:
      - appnet

networks:
  appnet: {}

volumes:
  pgdata: {}
  certbot-www: {}
