node_modules
dist
packages/*/node_modules
packages/*/dist
packages/*/tsconfig.tsbuildinfo
.git
.gitignore
*.log
_reports
backups
.cache
.pnpm-store
*.local
*.DS_Store
*.swp
*.swo
coverage
tmp
*.tar.gz
